<form novalidate [formGroup]="settingsFG">
  <div class="row mt-4">
    <div class="col-12 ps-4">
      <h3>Settings</h3>
    </div>

    <h2>Fix disable color</h2>
    <div class="col-12 settings-tabs">
      <div class="col-12 tabs">
        <div class="row mb-3">
          <div class="col-6" *ngIf="loginIssuer">
            <h6 class="mb-0">Logged in with:
              <span *ngIf="loginIssuer == 'Google'" [ngClass]="{'google': loginIssuer == 'Google'}">
                <strong>
                  <span class="g-blue">G</span>
                  <span class="o-red">o</span>
                  <span class="o-yellow">o</span>
                  <span class="g-blue">g</span>
                  <span class="l-green">l</span>
                  <span class="o-red e-red">e</span>
                </strong>
              </span>
            </h6>
            <div class="text-grey account-disabled">Account changes disabled</div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <h6>{{username}} <span class="text-grey">({{email}})</span></h6>
          </div>
        </div>

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Account</a>
            <ng-template ngbNavContent>
              <div class="ps-2 pt-1">
                <fieldset [disabled]="loginIssuer">
                  <account-settings (onUpdate)="onAccountUpdate($event)"></account-settings>
                </fieldset>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Authentication</a>
            <ng-template ngbNavContent>
              <div class="ps-2 pt-1">
                <fieldset [disabled]="loginIssuer">
                  <password-settings></password-settings>
                </fieldset>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Themes</a>
            <ng-template ngbNavContent>
              <div class="ps-2 pt-1">
                <form novalidate>
                  <div class="col-12">
                    <h3>Reset Password</h3>
                    <hr />
                    <div class="row">
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" formControlName="theme" value="system-theme">
                          <label class="form-check-label">
                            Use Device Theme
                          </label>
                        </div>
                        <div class="form-check mt-3">
                          <input class="form-check-input" type="radio" formControlName="theme" value="light-theme">
                          <label class="form-check-label">
                            Light Theme
                          </label>
                        </div>
                        <div class="form-check mt-3">
                          <input class="form-check-input" type="radio" formControlName="theme" value="dark-theme">
                          <label class="form-check-label">
                            Dark Theme
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>

    </div>
  </div>

  <br />
</form>