<form novalidate [formGroup]="workBoardFG">
  <div class="work-board">
    <div class="horizontal-divider"></div>

    <div class="row">
      <div class="left col-4 hub-scroll">
        <div class="left-absolute col-4">
          <div class="row">
            <div class="d-flex mt-3">
              <div class="col-4 header-left">
                <h6><b>Work Items</b></h6>
              </div>
              <div class="d-flex col-8 header-right">
                <div class="input-group button-addon align-items-center">

                  <input type="search" class="form-control work-item-search" placeholder="Search For Work Items"
                    formControlName="search">

                  <input class="psudo-input" ngbDatepicker #datePicker="ngbDatepicker" [dayTemplate]="dayTemp"
                    [footerTemplate]="footerTemp" (dateSelect)="onDateSelection($event)" [placement]="'bottom-end'"
                    [autoClose]="'outside'" [startDate]="fromDate!">

                  <button class="button calendar-addon" type="button" (click)="datePicker.toggle()">
                    <fa-icon *ngIf="toDate" class="position-absolute text-orange filter-dot" [icon]="faCircle"></fa-icon>
                    <img src="assets/icons/calendar.png" />
                  </button>
                  <ng-template #dayTemp let-date let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                      {{date.day}}
                    </span>
                  </ng-template>

                  <ng-template #footerTemp let-date let-focused="focused">
                    <div class="d-flex justify-content-end pb-1 me-3">
                      <div class="clickable d-flex" (click)="resetDates()">
                        <span>Reset</span>
                        <div class="refresh-date-icon">
                          <fa-icon class="text-orange ps-1" [icon]="faRefresh" size="xs"></fa-icon>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                </div>
              </div>
            </div>
          </div>

          <div class="position-relative h-100">
            <div class="left-absolute-inner">
              <div class="no-item-results">
                <div *ngIf="workItemsLoading" class="spinner-border text-darkl-contrast spinner-size"
                  role="status"></div>
                <h4 *ngIf="workBoardFG.get('search')?.value && filteredWorkItems && IsEmpty(filteredWorkItems)">No
                  Results
                  Found
                </h4>
                <h4 *ngIf="!workBoardFG.get('search')?.value && workItems.length && IsEmpty(workItems)">No Work Items</h4>
              </div>
              <ul>
                <ng-container *ngFor="let items of filteredWorkItems">
                  <li *ngIf="items.stateList.length">
                    <div class="state-heading">
                      <span class="clickable" (click)="isCollapsed[items.state] =! isCollapsed[items.state]">
                        <span [ngClass]="{
                        'text-sblue': items.state == 'Doing',
                        'text-grey': items.state == 'To Do',
                        'text-success': items.state == 'Done'
                        }" class="state-title">{{items.state}}</span>
                        <fa-icon *ngIf="!isCollapsed[items.state]" [icon]="faCaretDown" size="sm"></fa-icon>
                        <fa-icon *ngIf="isCollapsed[items.state]" [icon]="faCaretUp" size="sm"></fa-icon>
                      </span>
                    </div>

                    <div class="card-collapse" [(ngbCollapse)]="isCollapsed[items.state]">
                      <div class="card-container" *ngFor="let item of items.stateList">

                        <div [ngClass]="{'card-color-indicator': selectedWorkItem == item}"></div>

                        <div class="card" [ngClass]="{'selected-item': selectedWorkItem == item}">
                          <div class="card-header card-header-lg-up clickable" (click)="selectedWorkItem = item">
                            <span><b>Hub-{{item.fields.id}}:</b> {{item.fields.title}}</span>
                          </div>
                          <div class="card-header card-header-lg-down clickable"
                            (click)="selectedWorkItem = item; open(content)">

                            <ng-template #content let-modal>
                              <div class="modal-header" ngbAutofocus>
                                <h5 class="modal-title" id="modal-basic-title">{{selectedWorkItem.fields.title}}</h5>
                                <button type="button" class="btn-close" aria-label="Close"
                                  (click)="modal.dismiss('Cross click')"></button>
                              </div>
                              <div class="modal-body">
                                <form novalidate>
                                  <div class="popup-card" *ngIf="selectedWorkItem?.fields?.title">
                                    <div class="card mt-2">
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="row mt-2">
                                              <h5>Work Item Description:</h5>
                                              <p class="ms-3" [innerHTML]="GetItemDescription()">
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="button" (click)="modal.close('Save click')">Close</button>
                              </div>
                            </ng-template>

                            <span><b>Hub-{{item.fields.id}}:</b> {{item.fields.title}}</span>
                          </div>

                          <div class="card-body">
                            <div class="row">
                              <div class="col-12">
                                <div class="item-state col-12 p-0">
                                  <p class="col-11"><b>Type:</b> {{item.fields.workItemType}}</p>
                                </div>
                                <p><b>Date Created:</b> {{item.fields.createdDate | date}}</p>
                                <p><b>Date Last Updated:</b> {{item.fields.changedDate | date}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex justify-content-center">
                        <hr class="w-50 m-0" />
                      </div>

                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="right col-8">
        <div class="right-absolute col-8">
          <div class="right-absolute-inner">
            <work-item-description [selectedWorkItem]="selectedWorkItem"></work-item-description>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>