@import "../../../../../shared/styles/login-styles.scss";

.password-input
{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    input
    {
        padding-right: 2.3rem;
    }

    .password-icon
    {
        position: absolute;
        padding-right: 0.5rem;
    }
}

.header
{
  font-size: 2em;
}