<upload-file [hidden]="!hideCropper" (uploadFilesEvent)="onImageUpload($event)"></upload-file>

<div [hidden]="hideCropper" class="row">
    <div class="text-center col-md-6">
        <h5>Crop Image</h5>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
            [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
    </div>
    <div class="text-center col-md-6">
        <h5>Preview</h5>
        <img [src]="croppedImage" />
    </div>
</div>