<div *ngIf="incorrectFile" class="upload-error clickable" (click)="incorrectFile = false;">
    <div  class="alert alert-danger col-6 text-center" role="alert">
        <p>The file type was not an image.</p>
        <p>Click anywhere to retry.</p>
    </div>
</div>

<upload-file [hidden]="!hideCropper || incorrectFile" (uploadFilesEvent)="onImageUpload($event)" [fileTypes]="'image/*'"></upload-file>

<div [hidden]="hideCropper || incorrectFile" class="row">
    <div class="text-center col-md-6">
        <h5>Crop Image</h5>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="options.data.aspectRatio"
            [resizeToWidth]="options.data.resizeToWidth" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
    </div>
    <div class="text-center col-md-6" [ngClass]="{'useRound': options.data.useRound}">
        <h5>Preview</h5>
        <img [src]="croppedImage" />
    </div>
</div>