img
{
    width: 65%;
}

.spinner-size
{
  width: 6rem;
  height: 6rem;
  border-width: 0.3rem;
}

.useRound
{
    img
    {
        border-radius: 50%;
    }
}

.upload-error
{
    display: flex;
    justify-content: center;
}