<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"></ng-particles>
<form novalidate [formGroup]="homeFG">
    <div class="layout">
        <div class="layout-container">
            <div class="welcome">
                <div class="heading">WELCOME TO MARCOS HUB</div>

                <div class="description-container">
                    <div class="home-divider">
                        <hr class="m-0" />
                    </div>
                    <div class="home-description">
                        <p>
                            I've created this website as my own digital playground, which has
                            provided me
                            with a dedicated space
                            for development and experimentation with different technologies. This has been a fun and
                            educational experience that allowed me to bring my ideas to life while adhering to a
                            simplified SDLC process.
                        </p>
                        <p>
                            This site was developed using <span class="text-purple">.NET 7</span> and
                            <span class="text-red">Angular 16</span> among various other tools, serving as a learning
                            platform for which I hope you will find valuable in that regard as well. I am continuously
                            enhancing the site with new features and your feedback would be greatly appreciated.
                        </p>

                        <p class="m-0">Please stay tuned for any future updates!</p>

                    </div>
                    <div class="home-divider">
                        <hr class="m-0" />
                    </div>

                </div>
            </div>
            <div class="main">
                <div class="wrap">
                    <div class="home-feature-card bg-green-light" [routerLink]="'/work-board'">
                        <fa-icon class="pb-1" [icon]="faClipboardCheck" size="2x"></fa-icon>
                        <p class="mb-1">Work Board</p>
                        <p class="feature-description">Integration with microsoft to show my current DevOps work board
                        </p>
                    </div>
                </div>

                <div class="wrap">
                    <div class="home-feature-card bg-blue-light" [routerLink]="'/gallery'">
                        <fa-icon class="pb-1" [icon]="faImage" size="2x"></fa-icon>
                        <p class="mb-1">Gallery</p>
                        <p class="feature-description">I'll share some random images that I like over here</p>
                    </div>
                </div>

                <div class="wrap">
                    <div class="home-feature-card bg-orange-light" [routerLink]="'/algorithms'">
                        <fa-icon class="pb-1" [icon]="faBezierCurve" size="2x"></fa-icon>
                        <p class="mb-1">Algorithms</p>
                        <p class="feature-description">A place for me to test new algorithms and always have them at
                            hand</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="home-feature-card bg-lime-light" [routerLink]="'/titbits'">
                        <fa-icon class="pb-1" [icon]="faLightbulb" size="2x"></fa-icon>
                        <p class="mb-1">Titbits</p>
                        <p class="feature-description">Whenever I come accross an interesting topic, it goes here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>