.number-table
{
    td
    {
        border-width: 1px;
        border-color: white;
        border-style: solid;
        width: 4rem;
        height: 4rem;
        text-align: center;
        font-size: 1.7rem;
        font-style: italic;
        background-color: rgb(94, 94, 94, 0.42);
    }
}

ul
{
    padding-left: 1.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}