<form novalidate [formGroup]="navFG">
    <nav class="navbar navbar-expand-sm ps-3 pe-3 col-12">
        <a class="navbar-brand" [routerLink]="'/'">
            <div class="logo logo-xs"></div>
        </a>

        <div class="ms-auto right-nav order-sm-last pe-3">
            <div class="profile-image">
                <div class="caret-container" #profileDropdown="ngbDropdown" ngbDropdown ngbDropdownToggle>
                    <img [src]="profileImage" class="clickable profile-image">
                    <fa-icon class="clickable caret" [icon]="faCaretDown" size="1x" [ngClass]="{'caret-active': profileDropdown.isOpen()}"></fa-icon>  
                    <div ngbDropdownMenu>
                        <div class="ps-3 pt-1 pb-1">
                            <label>Logged In As:</label>
                            <br /><b>{{Username}}</b>
                        </div>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem>Manage Profile</button>
                        <button ngbDropdownItem [routerLink]="'settings'">Settings</button>
                        <button ngbDropdownItem (click)="Logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="navbar-toggler ms-2" type="button" (click)="onCollapseClick($event)">
            <span class="navbar-toggler-icon pe-none"></span>
        </button>
        <div class="navbar-collapse" [(ngbCollapse)]="isCollapsed">
            <div class="left-nav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <div ngbDropdown>
                            <a class="nav-link clickable" ngbDropdownToggle>
                                Extras
                            </a>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem>Action - 1</button>
                                <button ngbDropdownItem>Another Action</button>
                                <button ngbDropdownItem>Something else is here</button>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a [routerLinkActive]="'active'" [routerLink]="'home/dashboard'" class="nav-link"
                            type="button">Test Dash</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</form>