<nav class="navbar navbar-expand-lg navbar-dark bg-charcoal ps-3 pe-3">
    <a class="navbar-brand" href="#">ICON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="left-nav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Extras
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="home/dashboard" class="nav-link login-button" type="button" >Test Dash</a>
                </li>
            </ul>
        </div>

        <div class="ms-auto right-nav pe-3">
            <div ngbDropdown class="portrait btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>

                <div ngbDropdownMenu>
                    <div class="ps-3 pt-1 pb-1">
                        <label>Logged In As:</label>
                        <br /><strong>{{Username}}</strong>
                    </div>

                    <div class="dropdown-divider"></div>

                    <button ngbDropdownItem>Manage Profile</button>
                    <button ngbDropdownItem>Settings</button>
                    <button ngbDropdownItem (click)="Logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>