.navbar
{
    border-bottom: solid 1px;
    border-color: rgb(128, 128, 128, 0.2);

    .logo
    {
        margin: -12px;
    }
}

.right-nav
{
    .profile-image
    {
        .profile-image
        {
            width: 2.66rem;
            height: 2.66rem;
            border-radius: 50%;
        }

        .caret
        {
            padding-left: 0.2rem;
        }

        .dropdown-toggle::after
        {
            display: none;
        }

        .dropdown-menu[data-bs-popper]
        {
            left: unset;
            right: -1em;
        }
    }
}