@import "/src/styles/media-breakpoints.scss";

.bubble-image
{
    height: 14rem;
    width: 36rem;
}

@include media-breakpoint-down(md)
{
    .bubble-image
    {
        height: 100%;
        width: 100%;
    }
}