@import "../../../shared/styles/login-styles.scss";

.login-icon
{
    width: 6em;
    height: 6em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    align-self: center;
}

.password-input
{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    input
    {
        padding-right: 2.3rem;
    }

    .password-icon
    {
        position: absolute;
        padding-right: 0.5rem;
    }
}

.login-links
{
    display: flex;

    .forgot-password
    {
        text-align: right;
    }
}