<form novalidate [formGroup]="loginFG" (ngSubmit)="onSubmit()">
  <div class="center-screen">
    <div>
      <div class="login-header">My Hub</div>

      <input type="email" class="form-control col-12 mb-2" placeholder="Email Address" formControlName="email">
      <input type="password" class="form-control col-12 mb-2" placeholder="Password" formControlName="password">

      <div class="d-grid col-12 mb-1">
        <button class="btn btn-block btn-primary login-button" type="submit">Login</button>

      </div>
      <div class="d-grid col-12 mb-2">
        <button [routerLink]="'/register'" class="btn btn-block btn-primary login-button" type="button" >Register</button>    
      </div>

      <div class="position-relative col-12">
        <div
          *ngIf="(loginFG.get('email')?.hasError('required') || loginFG.get('password')?.hasError('required'))  && loginFormSubmitted"
          class="alert alert-danger position-absolute col-12" role="alert">Email & Password is required</div>
          
        <div *ngIf="loginFormSubmitted && invalidLoginError && loginFG.pristine" class="alert alert-danger position-absolute col-12"
          role="alert">{{invalidLoginError}}</div>
      </div>
    </div>
  </div>
</form>
