<form novalidate [formGroup]="loginFG" (ngSubmit)="onSubmit()">
  <div class="center-screen">

    <div class="logo-head">
      <div class="logo logo-md"></div>
    </div>

    <div class="card login-shadow center-body">
      <img class="login-icon" src="../../../../../assets/icons/user-solid.png">

      <div class="input-form">
        <input type="email" class="form-control col-12" placeholder="Email Address" formControlName="email">

        <div class="col-12 mt-2 password-input">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control " placeholder="Password"
            formControlName="password">
          <div class="password-icon">
            <fa-icon (click)="showPassword = !showPassword" class="clickable" *ngIf="!showPassword" [icon]="faEye"
              size="lg"></fa-icon>
            <fa-icon (click)="showPassword = !showPassword" class="clickable" *ngIf="showPassword" [icon]="faEyeSlash"
              size="lg"></fa-icon>
          </div>
        </div>

        <div class="d-grid col-12 mt-2">
          <button class="button  load-button login-button" type="submit" [disabled]="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"></span>
            Login
          </button>
        </div>

        <div class="login-links mt-2">
          <div class="col-7">
            <a [routerLink]="'/register'">Don't have an account?</a>
          </div>
          <div class="col-5 forgot-password">
            <a [routerLink]="'/reset-password'">Forgot Password?</a>
          </div>
        </div>

        <div class="text-center col-12 mt-2">
          <div
            *ngIf="(loginFG.get('email')?.hasError('required') || loginFG.get('password')?.hasError('required')) && loginFormSubmitted"
            class="alert alert-danger col-12" role="alert">Email & Password is required</div>

          <div
            *ngIf="loginFormSubmitted && formSubmitErrors && !loginFG.get('email')?.dirty && !loginFG.get('password')?.dirty"
            class="alert alert-danger col-12" role="alert">{{formSubmitErrors}}</div>
        </div>
      </div>
    </div>
  </div>
</form>