$black: black;
$white: white;
$dark-color: #161616;
$light-color: #f1f1f1;

$dark-contrast-color: #202326f7;
$dark-lightened-color: #5f6e7a;

$bg-white: #e4e8ec;
$text-white: #e7e7e7;
$bg-tint: rgba(0, 0, 0, 0.03);

$caret: rgba(255, 255, 255, 0.55);
$caret-active: rgba(255, 255, 255, 0.75);

$selected-light: rgba(208, 215, 222, 0.70);
$selected-dark: rgba(177, 186, 196, 0.08);

$disabled-input-light: #e9ecef;
$disabled-input-dark: #1e1e1e;

$gallery-card-background-dark: #1a1a1a;
$gallery-card-background-light: #ededed;

$scroll-dark: #3b3b3b;
$scroll-light: #F5F5F5;

$input-placeholder: #616161;
$disabled-grey: #616161;

$error-red: #dc3545;

$primary-white: #eef4ed;
$primary-blue: #0097B2;
$primary-orange: #e96813;
$primary-green: #00BF63;
$primary-lime: #85c516;
$primary-grey: #79828C;
$primary-info: #8888ff;

$secondary-blue: #3c60ff;


$emoji-dark: rgb(41 42 42);
$emoji-search: rgba(0, 0, 0, 0.1);

$home-feature-card-background-light: rgb(215 215 215 / .90);
$home-feature-card-inner-border-light: black;

$home-feature-card-background-dark: rgb(14 14 14 / .83);
$home-feature-card-inner-border-dark: white;

$home-description-light: rgb(230 230 230 / .9);
$home-description-border-light: #1f1f1ff0;

$home-description-dark: #1f1f1ff0;
$home-description-border-dark: rgba(248, 248, 255, .5);

//$dark-color
.text-dark
{
    color: $dark-color !important;
}

.bg-dark
{
    background-color: $dark-color !important;
}

//$dark-contrast-color
.text-dark-contrast
{
    color: $dark-contrast-color !important;
}

.bg-dark-contrast
{
    background-color: $dark-contrast-color !important;
}

//$dark-contrast-color
.text-darkl-contrast
{
    color: $dark-lightened-color !important;
}

.bg-darkl-contrast
{
    background-color: $dark-lightened-color !important;
}

.text-grey
{
    color: #79828C !important;
}

.bg-grey
{
    background-color: #79828C !important;
}

.text-orange
{
    color: $primary-orange !important;
}

.bg-orange
{
    background-color: $primary-orange !important;
}

.text-blue
{
    color: $primary-blue !important;
}

.bg-blue
{
    background-color: $primary-blue !important;
}

.text-white
{
    color: $primary-white !important;
}

.bg-white
{
    background-color: $primary-white !important;
}

.text-green
{
    color: $primary-green !important;
}

.bg-green
{
    background-color: $primary-green !important;
}

.text-lime
{
    color: $primary-lime !important;
}

.bg-lime
{
    background-color: $primary-lime !important;
}

.text-error-red
{
    color: $error-red !important;
}

.bg-error-red
{
    background-color: $error-red !important;
}

.text-info
{
    color: $primary-info !important;
}

.bg-info
{
    background-color: $primary-info;
}

.text-sblue
{
    color: $secondary-blue  !important;
}