$black: black;
$white: white;
$dark-color: #161616;
$light-color: #f1f1f1;

$dark-contrast-color: #272d32;
$dark-lightened-color: #5f6e7a;

$bg-white: #e4e8ec;
$text-white: #e7e7e7;
$bg-tint: rgba(0, 0, 0, 0.03);

$caret: rgba(255, 255, 255, 0.55);
$caret-active: rgba(255, 255, 255, 0.75);

$selected-light: rgba(208,215,222,0.70);
$selected-dark: rgba(177,186,196,0.08);

$disabled-input-light: #e9ecef;
$disabled-input-dark: #1e1e1e;

$gallery-card-background-dark: #1a1a1a;
$gallery-card-background-light: #ededed;

$scroll-dark:#3b3b3b;
$scroll-light:#F5F5F5;

//$dark-color
.text-dark
{
    color: $dark-color;
}

.bg-dark
{
    background-color: $dark-color;
}

//$dark-contrast-color
.text-dark-contrast
{
    color: $dark-contrast-color;
}

.bg-dark-contrast
{
    background-color: $dark-contrast-color;
}

//$dark-contrast-color
.text-darkl-contrast
{
    color: $dark-lightened-color;
}

.bg-darkl-contrast
{
    background-color: $dark-lightened-color;
}

.text-grey
{
    color: grey;
}

.text-orange
{
    color: rgba(233, 104, 19, 0.884);
}

.bg-orange
{
    background-color: rgba(233, 104, 19, 0.884);
}