$blue: #224193;
$regal: #03506f;
$aqua: #a3ddcb;
$pippin: #ffe3de;
$charcoal: #191919;

//Background colours
.bg-blue
{
    background-color: $blue;
}

.bg-regal
{
    background-color: $regal;
}

.bg-aqua
{
    background-color: $aqua;
}

.bg-pippin
{
    background-color: $pippin;
}
.bg-charcoal
{
    background-color: $charcoal;
}

//Text colours
.text-blue
{
    color: $blue;
}

.text-regal
{
    color: $regal;
}

.text-aqua
{
    color: $aqua;
}

.text-pippin
{
    color: $pippin;
}
.text-charcoal
{
    color: $charcoal;
}