@font-face
{
    font-family: AlfaSlabOne-Regular;
    src: url('../assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}

@font-face
{
    font-family: BebasNeue-Regular;
    src: url('../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face
{
    font-family: CreteRound-Regular;
    src: url('../assets/fonts/Crete_Round/CreteRound-Regular.ttf');
}

@font-face
{
    font-family: CreteRound-Italic;
    src: url('../assets/fonts/Crete_Round/CreteRound-Italic.ttf');
}

@font-face
{
    font-family: Rowdies-Bold;
    src: url('../assets/fonts/Rowdies/Rowdies-Bold.ttf');
}

@font-face
{
    font-family: Rowdies-Light;
    src: url('../assets/fonts/Rowdies/Rowdies-Light.ttf');
}

@font-face
{
    font-family: Rowdies-Regular;
    src: url('../assets/fonts/Rowdies/Rowdies-Regular.ttf');
}

@font-face
{
    font-family: RussoOne-Regular;
    src: url('../assets/fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face
{
    font-family: Teko-Bold;
    src: url('../assets/fonts/Teko/Teko-Bold.ttf');
}

@font-face
{
    font-family: Teko-Light;
    src: url('../assets/fonts/Teko/Teko-Light.ttf');
}

@font-face
{
    font-family: Teko-Medium;
    src: url('../assets/fonts/Teko/Teko-Medium.ttf');
}

@font-face
{
    font-family: Teko-Regular;
    src: url('../assets/fonts/Teko/Teko-Regular.ttf');
}

@font-face
{
    font-family: Teko-SemiBold;
    src: url('../assets/fonts/Teko/Teko-SemiBold.ttf');
}