@import "bootstrap-theme-overrides.scss";
@import "colors.scss";
@import "buttons.scss";

:root
{
    --background-color: $light-color;
    --button-text-color: #{$bg-white};
    --button-focus: #{$black};
    --text-color: #{$black};
    --link-text-color: #{$black};
    --button-color: #{$dark-contrast-color};
    --button-card-color: #{lighten($dark-color, 10%)};
    --card-background: #{$bg-white};
    --card-header: #{$bg-tint};
    --theme-logo: url("../assets/images/logo/MH-White.png");
    --github-logo: url('../assets/icons/github-mark.png');
    --caret: #{lighten($dark-color, 15%)};
    --caret-active: #{$black};
    --disabled-input: #{$disabled-input-light};
    --modal-background: #{$light-color};
    --gallery-card-background: #{$gallery-card-background-light};
    --scroll-track: #{$scroll-light};
    --scroll-thumb: #{$scroll-dark};
}

.dark-theme
{
    --background-color: #{$dark-color};
    --button-text-color: #{$bg-white};
    --button-focus: #{$bg-white};
    --text-color: #{$bg-white};
    --link-text-color: #{$bg-white};
    --button-color: #{$dark-contrast-color};
    --button-card-color: #{$dark-color};
    --card-background: #{$dark-contrast-color};
    --card-header: #{$bg-tint};
    --theme-logo: url("../assets/images/logo/MH-Black.png");
    --github-logo: url("../assets/icons/github-mark-white.png");
    --caret: #{$caret};
    --caret-active: #{$caret-active};
    --disabled-input: #{$disabled-input-dark};
    --modal-background: #{$dark-color};
    --gallery-card-background: #{$gallery-card-background-dark};
    --scroll-track: #{$scroll-dark};
    --scroll-thumb: #{$scroll-light};

    nav
    {
        @include nav;
    }

    .dropdown-menu
    {
        @include dropdown-menu;
    }

    .btn-close
    {
        filter: invert(1) grayscale(100%) brightness(200%);
    }

    @include calendar;
    @include table-theme;
}

body
{
    background-color: var(--background-color);
    color: var(--text-color);

    @include button(--button-color);

    .page-loader
    {
        color: var(--text-color);
    }

    .button-addon
    {
        @include button-addon(--button-card-color);
    }

    .form-control,
    .form-control:focus
    {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .form-control::placeholder
    {
        color: $input-placeholder;
    }

    a
    {
        color: var(--link-text-color);
        text-decoration: none;
    }

    a:hover
    {
        color: var(--link-text-color);
        text-decoration: underline;
    }

    .card
    {
        background-color: var(--card-background);
        color: var(--text-color);

        @include button(--button-card-color);
    }

    .gallery-card
    {
        background-color: var(--gallery-card-background);
    }

    .logo
    {
        content: var(--theme-logo);
    }

    .github-logo
    {
        content: var(--github-logo);
    }

    .ngb-dp-header
    {
        background-color: var(--card-background);
    }

    .form-select
    {
        background-color: var(--card-background);
        color: var(--text-color);
    }

    .modal-backdrop
    {
        &.show
        {
            opacity: 0.7;
        }
    }

    .modal-content
    {
        background-color: var(--modal-background);

        .modal-header
        {
            background-color: var(--card-header);
            border-bottom-color: #40464a;
        }

        .modal-footer
        {
            border-top-color: #40464a;
        }
    }

    .dropzone
    {
        background-color: var(--card-background) !important;
    }

    .caret-container:hover
    {
        .caret
        {
            color: var(--caret-active);
        }
    }

    .caret
    {
        color: var(--caret);

        :hover
        {
            color: var(--caret-active);
        }
    }

    .caret-active
    {
        color: var(--caret-active);
    }

    .action-list-selector
    {
        li
        {
            border-radius: 0.3rem;
        }

        .selected
        {
            background-color: $primary-blue;
        }
    }

    pre
    {
        code
        {
            color: $text-white;
        }
    }

    .form-control:disabled
    {
        background-color: var(--disabled-input);
    }

    nav
    {
        background-color: var(--background-color);
    }

    .hub-scroll
    {
        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: var(--scroll-track);
        }

        ::-webkit-scrollbar
        {
            width: 5px;
            background-color: var(--scroll-track);
        }

        ::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: var(--scroll-thumb);
        }
    }
}