@import "bootstrap-theme-overrides.scss";
@import "colors.scss";
@import "buttons.scss";

:root
{
    --background-color: $light-color;
    --button-text-color: #{$bg-white};
    --button-focus: #{$black};
    --text-color: #{$black};
    --link-text-color: #{$black};
    --button-color: #{$dark-contrast-color};
    --button-card-color: #{lighten($dark-color, 10%)};
    --card-background: #{$bg-white};
    --card-header: #{$bg-tint};
    --theme-logo: url("../assets/images/logo/MH-White.png");
    --github-logo: url('../assets/icons/github-mark.png');
    --caret: #{lighten($dark-color, 15%)};
    --caret-active: #{$black};
    --action-list-selected: #{$selected-light};
    --disabled-input: #{$disabled-input-light};
}

.dark-theme
{
    --background-color: #{$dark-color};
    --button-text-color: #{$bg-white};
    --button-focus: #{$bg-white};
    --text-color: #{$bg-white};
    --link-text-color: #{$bg-white};
    --button-color: #{$dark-contrast-color};
    --button-card-color: #{$dark-color};
    --card-background: #{$dark-contrast-color};
    --card-header: #{$bg-tint};
    --theme-logo: url("../assets/images/logo/MH-Black.png");
    --github-logo: url("../assets/icons/github-mark-white.png");
    --caret: #{$caret};
    --caret-active: #{$caret-active};
    --action-list-selected: #{$selected-dark};
    --disabled-input: #{$disabled-input-dark};

    nav
    {
        @include nav;
    }

    .dropdown-menu
    {
        @include dropdown-menu;
    }

    @include calendar;
    @include table-theme;
}

body
{
    background-color: var(--background-color);
    color: var(--text-color);

    @include button(--button-color);

    .button-addon
    {
        @include button-addon(--button-card-color);
    }

    .form-control,
    .form-control:focus
    {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    a
    {
        color: var(--link-text-color);
        text-decoration: none;
    }

    a:hover
    {
        color: var(--link-text-color);
        text-decoration: underline;
    }

    .card,
    .modal-content
    {
        background-color: var(--card-background);

        @include button(--button-card-color);
    }

    .logo
    {
        content: var(--theme-logo);
    }

    .github-logo
    {
        content: var(--github-logo);
    }

    .ngb-dp-header
    {
        background-color: var(--card-background);
    }

    .form-select
    {
        background-color: var(--card-background);
        color: var(--text-color);
    }

    .modal-content
    {
        .modal-header
        {
            background-color: var(--card-header);
        }

        background-color: var(--card-background);
    }

    .dropzone
    {
        background-color: var(--card-background) !important;
    }

    .caret-container:hover
    {
        .caret
        {
            color: var(--caret-active);
        }
    }

    .caret
    {
        color: var(--caret);

        :hover
        {
            color: var(--caret-active);
        }
    }

    .caret-active
    {
        color: var(--caret-active);
    }

    .action-list-selector
    {
        li
        {
            border-radius: 0.3rem;
        }

        .selected
        {
            background-color: var(--action-list-selected);
        }
    }

    pre
    {
        code
        {
            color: $text-white;
        }
    }

    .form-control:disabled
    {
        background-color: var(--disabled-input);
    }
}