@import "../../../../shared/styles/login-styles.scss";

.center-body
{
  padding-bottom: 2rem;
}

@include media-breakpoint-up(sm)
{
  .center-body
  {
    padding-bottom: 2.5rem;
  }
}

@include media-breakpoint-only(sm)
{
  .center-body
  {
    padding-bottom: 2.5rem;
  }
}

.confirm-message{
  p{
    margin-bottom: 0.2em;
  }
}