@import "../../../../shared/styles/login-styles.scss";

.center-body
{
  padding-bottom: 2rem;
}

@include media-breakpoint-up(sm)
{
  .center-body
  {
    padding-bottom: 2.5rem;
    width: 42em;

    .right-form
    {
      padding-right: 4.5rem;
    }
  }
}

@include media-breakpoint-only(sm)
{
  .center-body
  {
    padding-bottom: 2.5rem;
    width: 42em;
  }

  .right-form
  {
    padding-right: 4.5rem;
  }
}

.confirm-message
{
  p
  {
    margin-bottom: 0.2em;
  }
}


.left-form
{
  padding-left: 2rem;
  padding-right: 2rem;
}

.right-form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  .uploaded-image
  {
    img
    {
      border-radius: 50%;
      width: 10rem;
    }
  }
}

.register-row
{
  justify-content: center;

  .register-button
  {
    width: 45%;
  }
}