<form novalidate [formGroup]="registerFG" (ngSubmit)="onSubmit()">
  <div class="center-screen">
    <div>
      <div class="login-header">My Hub Register</div>

      Email Address: <input type="text" class="form-control col-12 mb-2" placeholder="Email Address"
        formControlName="email">
      Username: <input type="text" class="form-control col-12 mb-2" placeholder="Username" formControlName="username">
      Password: <input type="password" class="form-control col-12 mb-2" placeholder="Password"
        formControlName="password">
      Re-Enter Password: <input type="password" class="form-control col-12 mb-2" placeholder="Re-Enter Password"
        formControlName="passwordReEnter">

      <div class="d-grid col-12 mb-2">
        <load-button type="submit" [name]="'Register'" [debounce]="200" [subscription]="submitSubscription"></load-button>
      </div>

      <div class="position-relative col-12">
        <div
          *ngIf="(registerFG.get('email')?.hasError('required') || registerFG.get('password')?.hasError('required'))  && registerFormSubmitted"
          class="alert alert-danger position-absolute col-12" role="alert">Please enter required fields</div>

        <div *ngIf="registerFormSubmitted && formSubmitErrors" class="alert alert-danger position-absolute col-12"
          role="alert">{{formSubmitErrors}}</div>
      </div>
    </div>
  </div>
</form>