<form novalidate [formGroup]="resetPasswordFG" (ngSubmit)="onSubmit()">
    <div class="center-screen">

        <div class="logo-head">
            <div class="logo logo-md"></div>
        </div>

        <div class="card login-shadow center-body">
            <div *ngIf="!resetRequested">
                <div class="header text-center">Reset Password</div>

                <p class="text-center">Enter the email address to send your reset information sent to:</p>

                <div class="input-form">
                    <div>
                        <input type="email" class="form-control col-12" placeholder="Email Address"
                            formControlName="email"
                            [ngClass]="{'is-invalid' : resetPasswordFG.get('email')?.errors && verifyFormSubmitted}">
                        <div class="error-feedback">Please enter a valid Email Address</div>
                    </div>
                    
                    <div class="d-grid col-12 mt-2">
                        <button class="button load-button" type="submit" [disabled]="isLoading">
                            <span class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"></span>
                            Request Reset
                        </button>
                    </div>

                    <div class="col-12 mt-1 text-center">
                        <div *ngIf="verifyFormSubmitted && formSubmitErrors" class="alert alert-danger col-12"
                            role="alert">{{formSubmitErrors}}</div>
                    </div>
                </div>
            </div>

            <div class="text-center" *ngIf="resetRequested">
                <p class="mt-5">Please check your email inbox for the password reset request.</p>
                <p>You may safely close this window.</p>
            </div>
        </div>
    </div>
</form>