@import "../../../../shared/styles/login-styles.scss";

.center-body
{
    width: 15rem;
    padding-bottom: 2rem;
}

@include media-breakpoint-up(sm)
{
    .center-body
    {
        width: 35rem;
        padding-bottom: 3rem;
    }
}

@include media-breakpoint-only(sm)
{
    .center-body
    {
        width: 36rem;
        padding-bottom: 2.5rem;
    }
}