@import "../../../../shared/styles/login-styles.scss";

@include media-breakpoint-up(sm)
{
    .center-body
    {
        width: 26rem;
        padding-bottom: 2.7rem;
    }
}

@include media-breakpoint-only(sm)
{
    .center-body
    {
        width: 26rem;
        padding-bottom: 2.7rem;
    }
}

.reset-container
{
    padding-left: 0.3em;
    padding-right: 0.3em;
}