@import "/src/styles/media-breakpoints.scss";

.algorithms
{
    display: inline-flex;

    .left
    {
        padding-right: 0.8rem;

        .sticky-algorithms
        {
            max-height: calc(100vh - 17px);
            overflow-y: auto;
            position: sticky;
            top: 1rem;

            ul
            {
                padding-left: 1rem;
            }
        }
    }

    .right
    {
        padding-right: 6rem;
    }
}

@include media-breakpoint-down(md)
{
    .right
    {
        display: none;
    }

    .left
    {
        width: 100%;
        padding-right: 2%;
    }
}