<footer class="footer-basic">
    <div>
        <ul class="list-inline m-0">
            <li class="text-grey list-inline-item pe-2">Marco's Hub © 2023</li>
            <li class="list-inline-item pe-1" disabled><a>About</a></li>
            <li class="list-inline-item pe-1"><a [routerLink]="'/privacy-policy'">Privacy Policy</a></li>
        </ul>
    </div>
    <div>
        <p class="note text-grey">Note: Some web services are automatically shut down when not in use. Startup might take some time.</p>
    </div>
</footer>