.right-nav{
    display: inline-flex;
    align-items: center;
    .portrait{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: aqua;
    
        img{
            width: 100%;
        }
    }
}
