<form *ngIf="passwordSettingsFG" novalidate [formGroup]="passwordSettingsFG"
    (ngSubmit)="onSubmit(); oldPassword.focus();">
    <div class="col-12">
        <h3>Reset Password</h3>
        <hr />
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label class="form-label">Old password</label>
                        <input #oldPassword type="password" class="form-control" placeholder="Old password"
                            formControlName="oldPassword"
                            [ngClass]="{'is-invalid' : passwordSettingsFG.get('oldPassword')?.errors && passwordSettingsSubmitted}">
                        <div class="error-feedback">Old password is required</div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-6">
                        <label class="form-label">New password</label>
                        <input class="form-control" placeholder="New Password" formControlName="password"
                            type="password"
                            [ngClass]="{'is-invalid' : passwordSettingsFG.get('password')?.errors && passwordSettingsSubmitted}">
                        <div class="error-feedback" *ngIf="passwordSettingsFG.get('password')?.hasError('required')">
                            Please enter a new Password
                        </div>
                        <div class="error-feedback" *ngIf="!passwordSettingsFG.get('password')?.hasError('required')">
                            Password requirements:
                            <span *ngIf="passwordSettingsFG.get('password')?.hasError('minlength')">Must be
                                Larger than 8 characters. </span>
                            <span *ngIf="passwordSettingsFG.get('password')?.hasError('upperCase')">Have 1 upper
                                case. </span>
                            <span *ngIf="passwordSettingsFG.get('password')?.hasError('lowerCase')">Have 1 lower
                                case. </span>
                            <span *ngIf="passwordSettingsFG.get('password')?.hasError('number')">Have 1
                                Number. </span>
                            <span *ngIf="passwordSettingsFG.get('password')?.hasError('special')">Have 1 Special
                                character in (!@#$%^&*).</span>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-6">
                        <label class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" placeholder="Confirm new Password"
                            formControlName="confirmPassword"
                            [ngClass]="{'is-invalid' : (passwordSettingsFG.hasError('invalidMatchingPassword') || passwordSettingsFG.get('confirmPassword')?.hasError('required')) && (passwordSettingsSubmitted || passwordSettingsFG.get('confirmPassword')?.touched)}">
                        <div class="error-feedback">Passwords do not match</div>
                    </div>
                </div>

                <label class="text-grey password-message mt-3">Make sure that it's at least 8 characters, has 1
                    upper and lower case, one number and one special character.</label>

                <div class="row">
                    <div class="col-12 pt-2 d-flex">
                        <div>
                            <load-button [type]="'submit'" [isLoading]="isLoading" [buttonText]="'Update Password'"
                                [debounce]="150" class="mt-1"></load-button>
                        </div>&nbsp;&nbsp;
                        <a class="pt-2" [routerLink]="'/reset-password'">I forgot my password</a>
                    </div>
                </div>
            </div>

            <div class="col-5 mt-2 text-center">
                <div *ngIf="passwordSettingsSubmitted && formSubmitErrors" class="alert alert-danger col-12"
                    role="alert">{{formSubmitErrors}}</div>

                <div *ngIf="success" class="alert alert-success" role="alert">Password successfully
                    updated</div>
            </div>
        </div>

        <div class="mt-4">
            <h3>Two-factor authentication</h3>
            <hr />
            <div class="row">
                <div class="col-12">
                    <p class="form-label">Coming soon</p>
                    <button type="button" class="button" disabled>Enable two-factor authentication</button>
                </div>
            </div>
        </div>
    </div>
</form>