@import "/src/styles/media-breakpoints.scss";

.social-links
{
    padding-top: 1rem;
    padding-right: 1rem;
    height: 3.3rem;

    .social-links-images
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.5rem;

        .social-icon
        {
            align-self: center;
        }

        *
        {
            width: 2rem;
        }
    }
}

.main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 115px);
    padding-bottom: 6rem;

    .main-content
    {
        height: 100%;
        max-width: 120rem;
        display: flex;
        justify-content: center;

        .left
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: -2rem;
            padding-left: 3rem;

            .profile-image
            {
                height: 80%;
                width: 100%;
            }
        }

        .right
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 3%;

            .names
            {
                font-size: 7rem;
                font-family: BebasNeue-Regular;
                line-height: 6rem;
                height: 6rem;
                margin-bottom: 0.7rem;
            }

            .about-description
            {
                padding-right: 10%;
                text-align: justify;
            }

            .tech-stack
            {
                margin-top: 0.7rem;
                height: 4.2rem;

                .tech-stack-icons
                {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 2.5rem);
                    align-items: center;

                    img
                    {
                        width: 2rem;
                    }

                    .azure-dev-ops
                    {
                        width: 2.5rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg)
{
    .main
    {
        .main-content
        {
            .left
            {
                margin-left: unset;
                padding-left: unset;
            }

            .right
            {
                padding-right: 1.5rem;

                .names
                {
                    font-size: 3.5rem;
                    line-height: 3.5rem;
                    height: 4rem;
                }

                .about-description
                {
                    padding-right: unset;
                }
            }
        }
    }
}