<form novalidate [formGroup]="aboutFG">
    <div class="d-flex justify-content-end social-links">
        <div class="social-links-images">
            <fa-icon class="clickable social-icon" [icon]="faEnvelope" size="2x" [ngbPopover]="emailPopover"
                triggers="mouseenter:mouseleave" [autoClose]="autoClose" (mouseleave)="revertEmail()" ngxClipboard
                [cbContent]="'marcoross37@gmail.com'" (cbOnSuccess)="copyEmail()"></fa-icon>

            <ng-template #emailPopover>
                {{copyText}}
            </ng-template>

            <a href="https://github.com/Marco-Ross" target="_blank" ngbPopover="GitHub" triggers="mouseenter:mouseleave"
                container="body">
                <span class="clickable" class="github-logo"></span>
            </a>

            <a href="https://www.linkedin.com/in/marco-ross-829676174/" target="_blank" ngbPopover="LinkedIn"
                triggers="mouseenter:mouseleave" container="body">
                <img class="clickable" src="assets/images/about/LinkedIn.png" />
            </a>

            <a href="https://www.codewars.com/users/Marco-Ross" target="_blank" ngbPopover="Codewars"
                triggers="mouseenter:mouseleave" container="body">
                <img class="clickable" src="assets/images/about/Codewars.png" />
            </a>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <div class="row">
                <div class="left col-12 col-lg-6">
                    <div class="d-flex align-items-center">
                        <img class="profile-image" src="assets/images/about/profile.jpg" />
                    </div>
                </div>
                <div class="right col-12 col-lg-6 pt-5 pt-lg-0 ps-4 ps-lg-0 pb-4 pb-lg-0">
                    <h4 class="mb-4">Software Developer</h4>

                    <div class="names">
                        Marco Ross
                    </div>

                    <div class="about-description">
                        <p>Greetings!</p>
                        <p class="mb-4">
                            I am Marco, an avid software developer with a solid foundation built on an advanced diploma
                            in software development and I've had the privilege of working in the field
                            for three and a half years. My experience as a full stack developer has not only allowed me
                            to appreciate the intricate balance between front-end and back-end work, but also the joy of
                            creating seamless user experiences.
                        </p>

                        <p>
                            My genuine interest in technology and the endless possibilities that it offers is what truly
                            keeps me engaged in this ever evolving field.

                            As I continue on this journey, I look forward to sharing my experiences and
                            contributing to the ever-growing tech community while working on self-growth.
                        </p>
                    </div>

                    <div class="tech-stack">
                        <h5>Tech stack:</h5>

                        <div class="tech-stack-icons">
                            <img src="assets/images/about/FrontEnds.png" ngbPopover="Html, CSS, Javascript"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img src="assets/images/about/TypeScript.png" ngbPopover="Typescript"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img src="assets/images/about/Bootstrap.png" ngbPopover="Bootstrap"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img src="assets/images/about/Sass.png" ngbPopover="Scss/Sass"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img src="assets/images/about/AngularJsCircle.png" ngbPopover="AngularJs"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img src="assets/images/about/Angular.png" ngbPopover="Angular"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img class="csharp" src="assets/images/about/CSharp.png" ngbPopover="C#"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img src="assets/images/about/Sqls.png" ngbPopover="Sql" triggers="mouseenter:mouseleave"
                                container="body" />
                            <img src="assets/images/about/Docker.png" ngbPopover="Docker"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img class="azure" src="assets/images/about/Azure.png" ngbPopover="Azure"
                                triggers="mouseenter:mouseleave" container="body" />
                            <img class="azure-dev-ops" src="assets/images/about/AzureDevOps.png"
                                ngbPopover="Azure DevOps" triggers="mouseenter:mouseleave" container="body" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>