<div [ngClass]="{'no-item': !selectedWorkItem?.fields?.title}">
    <h3 *ngIf="!selectedWorkItem?.fields?.title">No Work Item Selected</h3>
</div>

<div *ngIf="selectedWorkItem?.fields?.title">
    <div class="card mt-4">
        <div class="card-header card-header-md">
            <h3>{{selectedWorkItem?.fields?.title}}</h3>
        </div>
    
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <h5>Work Item Description:</h5>
                        <p class="ms-3" [innerHTML]="GetItemDescription()">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>