<form novalidate [formGroup]="resetPasswordCompleteFG" (ngSubmit)="onSubmit()">
    <div class="center-screen">

        <div class="logo-head">
            <div class="logo logo-md"></div>
        </div>

        <div class="card login-shadow center-body">
            <div *ngIf="!resetStatus">
                <div class="header text-center">Reset Password</div>

                <div class="input-form">
                    <div>
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control col-12 mt-2"
                            placeholder="New Password" formControlName="password"
                            [ngClass]="{'is-invalid' : resetPasswordCompleteFG.get('password')?.errors && resetPasswordFormSubmitted}">
                        <div class="error-feedback"
                            *ngIf="resetPasswordCompleteFG.get('password')?.hasError('required')">
                            Please enter a new Password
                        </div>
                        <div class="error-feedback"
                            *ngIf="!resetPasswordCompleteFG.get('password')?.hasError('required')">
                            Password requirements:
                            <span *ngIf="resetPasswordCompleteFG.get('password')?.hasError('minlength')">Must be Larger
                                than
                                8 characters.
                            </span>
                            <span *ngIf="resetPasswordCompleteFG.get('password')?.hasError('upperCase')">Have 1 upper
                                case.
                            </span>
                            <span *ngIf="resetPasswordCompleteFG.get('password')?.hasError('lowerCase')">Have 1 lower
                                case.
                            </span>
                            <span *ngIf="resetPasswordCompleteFG.get('password')?.hasError('number')">Have 1 Number.
                            </span>
                            <span *ngIf="resetPasswordCompleteFG.get('password')?.hasError('special')">Have 1 Special
                                character in (!@#$%^&*).</span>
                        </div>
                    </div>

                    <div>
                        <input type="password" class="form-control col-12 mt-2" placeholder="Confirm Password"
                            formControlName="confirmPassword"
                            [ngClass]="{'is-invalid' : (resetPasswordCompleteFG.hasError('invalidMatchingPassword') || resetPasswordCompleteFG.get('confirmPassword')?.hasError('required')) && (resetPasswordFormSubmitted || resetPasswordCompleteFG.get('confirmPassword')?.touched)}">
                        <div class="error-feedback">Passwords do not match</div>
                    </div>

                    <div class="d-grid col-12 mt-2">
                        <button class="button load-button" type="submit" [disabled]="isLoading">
                            <span class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"></span>
                            Confirm New Password
                        </button>
                    </div>

                    <div class="col-12 mt-1 text-center">
                        <div *ngIf="resetPasswordFormSubmitted && formSubmitErrors" class="alert alert-danger col-12"
                            role="alert">{{formSubmitErrors}}</div>
                    </div>
                </div>
            </div>

            <div class="text-center" *ngIf="resetStatus">
                <p class="mt-5">Password has been reset. You will be redirected to the login page shortly...</p>
            </div>
        </div>
    </div>
</form>