@import "../../../../shared/styles/login-styles.scss";

@include media-breakpoint-up(sm)
{
    .center-body
    {
        width: 25rem;
        padding-bottom: 3rem;
    }
}

@include media-breakpoint-only(sm)
{
    .center-body
    {
        width: 25rem;
        padding-bottom: 3rem;
    }
}