/* You can add global styles to this file, and also import other style files */
@import "/src/styles/fonts.scss";
@import "/src/styles/buttons.scss";
@import "/src/styles/colors.scss";
@import "/src/styles/themes.scss";
@import "/src/styles/spinners.scss";

body
{
    box-sizing: border-box;
}

.error-feedback
{
    display: none;
}

.is-invalid+.error-feedback
{
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: $error-red;
}

//logo height=width/1.6...

.logo-plain-xs
{
    width: 82.5px;
    height: 41.7px;
}

.logo-xs
{
    width: 80px;
    height: 48px;
}

.logo-sm
{
    width: 100px;
    height: 60px;
}

.logo-md
{
    width: 200px;
    height: 120px;
}

.clickable
{
    cursor: pointer;
}

.code-background
{
    background: rgb(45, 45, 45);
    padding: 1rem;
    overflow: auto;
    border-radius: 0.3em;
}

fieldset:disabled
{
    a
    {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}

.modal-top
{
    .modal-dialog-centered
    {
        min-height: unset;
    }
}

.dropdown-toggle::after
{
    float: right;
    margin-top: 0.6rem;
}

.has-warning
{
    border-color: $primary-orange;
}

.has-warning:focus
{
    border-color: $primary-orange;
    box-shadow: 0 0 0 0.25rem rgba( $primary-orange,.25);
}

.has-error
{
    border-color: $error-red;
}

.has-error:focus
{
    border-color: $error-red;
    box-shadow: 0 0 0 0.25rem rgba( $primary-orange,.25);
}