/* You can add global styles to this file, and also import other style files */
@import "../src/styles/fonts.scss";
@import "../src/styles/buttons.scss";
@import "../src/styles/colours.scss";

body
{
    box-sizing: border-box;
}

.error-feedback
{
    display: none;
}

.is-invalid+.error-feedback
{
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.logo-sm
{
    width: 70px;
    height: 70px;
}

.logo-md
{
    width: 150px;
    height: 150px;
}

.clickable
{
    cursor: pointer;
}

//Background colours
.bg-blue
{
    background-color: $blue;
}

.bg-regal
{
    background-color: $regal;
}

.bg-aqua
{
    background-color: $aqua;
}

.bg-pippin
{
    background-color: $pippin;
}

//Text colours
.text-blue
{
    color: $blue;
}

.text-regal
{
    color: $regal;
}

.text-aqua
{
    color: $aqua;
}

.text-pippin
{
    color: $pippin;
}