/* You can add global styles to this file, and also import other style files */
@import "/src/styles/fonts.scss";
@import "/src/styles/buttons.scss";
@import "/src/styles/colors.scss";
@import "/src/styles/themes.scss";

body
{
    box-sizing: border-box;
}

.error-feedback
{
    display: none;
}

.is-invalid+.error-feedback
{
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

//logo height=width/1.6...

.logo-xs
{
    width: 80px;
    height: 48px;
}

.logo-sm
{
    width: 100px;
    height: 60px;
}

.logo-md
{
    width: 200px;
    height: 120px;
}

.clickable
{
    cursor: pointer;
}

.code-background
{
    background: rgb(45, 45, 45);
    padding: 1rem;
    overflow: auto;
    border-radius: 0.3em;
}

.hub-scroll
{
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar
    {
        width: 5px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #3b3b3b;
    }
}

fieldset:disabled
{
    a
    {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}