@import "/src/styles/media-breakpoints.scss";
@import "/src/styles/colors.scss";

form
{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.titbits-width
{
    width: 65%;
}

.view-titbits
{
    display: none;
}

.titbits
{
    display: inline-flex;
    margin-top: 1.5rem;

    .left
    {
        max-width: 22rem;
        min-width: 12rem;
        padding-right: 1.5rem;

        .loading-text
        {
            padding-left: 0.7rem;
        }

        .loader-bars
        {
            color: $primary-blue;
            background-color: $primary-blue;

            &:before,
            &:after
            {
                background-color: $primary-blue;
            }

            font-size: 3px;
        }

        .sticky-titbits
        {
            max-height: calc(100vh - 17px);
            overflow-y: auto;
            position: sticky;
            top: 4.5rem;

            ul
            {
                padding-left: 1rem;
            }
        }
    }

    .right
    {
        display: flex;
        justify-content: center;

        .right-inner
        {
            width: 100%;
            max-width: 65rem;

            .no-titbits:not(:only-child)
            {
                display: none;
            }

            .option-icons
            {
                white-space: nowrap;
            }

            .date-posted
            {
                font-size: 13px;
            }

            .links
            {
                .resource-caret
                {
                    width: 0.4rem;
                    margin-right: 0.4rem;
                    padding-top: 0.06rem;
                }
            }

            .liked
            {
                color: rgb(255, 48, 64);
            }
        }
    }
}

@include media-breakpoint-down(md)
{
    .view-titbits
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .titbits-width
    {
        width: 80%;
    }

    .view-titbits-visible
    {
        .right
        {
            display: none;
        }

        .left
        {
            width: 100%;
            padding-right: unset;
        }
    }

    .view-titbit-visible
    {
        .right
        {
            width: 100%;
            padding-right: unset;
        }

        .left
        {

            display: none;
        }
    }
}